* { -moz-box-sizing: border-box;
-webkit-box-sizing: border-box; box-sizing: 
border-box;}

body{
    font-family: verdana;
    font-size: 16px;
}
header{
    background-color:rgb(145, 9, 9) ;
    padding: 1rem 2%; 
}
header h1 {
    margin:0;
}
header h2{
    margin: 0;

}

h1{
    text-align: center;
    color:white;
    padding: 10px;
}
h2{
    text-align: center;
    color:white;

}
nav ul {
    margin: 0; padding:0;
    background-color: rgb(8, 109, 8);
    width: 100%;    
    list-style-type: none;
    text-align: center;
    
}
nav li a{
    font-family: verdana;
    color: white;

    
}

nav li:hover{
    background-color:rgb(145, 9, 9) ;

}
nav a{
    display: block;
    text-decoration: none;
    padding: .8rem 0;  
    text-align: center;
}
nav li.active{
    background-color:rgb(23, 146, 23);
}
main{
    padding: 1rem 2%;
    display: block;
}
main h3{color:rgb(145, 9, 9) ;}
main figure img{ width: 100%;}
main figure{
    width: 100%;
    margin:0;
}
main figcaption{text-align: center;font-size: .8rem;

}
img{
    margin: 10px;
    width: auto;
    height: auto;
    border-radius: 10%;
    object-fit: cover;

    
}
footer{
    text-align: center;
    padding: 1rem 2%;
    background-color:rgb(145, 9, 9) ;
    color: white;
}

