* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
  }
  
  table,
  table caption {
    border: 2px solid rgb(235, 235, 235);
  }
  
  .columns th,
  .columns td {
    border: 1px solid #000;
  }
  
  table,
  .columns th,
  .columns td {
    border-collapse: collapse;
  }
  
  table {
    box-shadow: 10px 10px 20px 0 #000;
  }
  
  table caption {
    font-size: 30px;
    font-weight: 600;
    color:rgb(235, 235, 235);
    box-shadow: 10px 15px 20px 0 #000;
  }
  
  table caption,
  .columns td,
  .columns th,
  tfoot td {
    padding: 10px;
  }
  
  table caption,
  tfoot {
    background-color: #0072dd;
  }
  
  tfoot {
    font-size: 15px;
  }
  
  .columns:nth-child(even) {
    background-color: #7e7e7e;
  }
  
  .columns:nth-child(odd) {
    background-color: #cac6c7;
  }
  
  .columns:nth-child(1) th:nth-child(n+1),
  .columns:nth-child(4) td:nth-child(3) {
    background-color: #002c8b;
    color: white;
  }
  
  .columns:nth-child(5) td:nth-child(1) {
    font-style: italic, arial;
  }