@media only screen and (min-width: 32.5em) {

    footer {
      font-size: 1.2rem;
    }
  
    .social-icon {
      margin: 10px;
    }

    h3 {
      font-size: 1.3em;
      margin: 0;
      color:#315E50;
    }
  
    .navigation {
      display: flex;
      font-size: 1.3rem;
    }
  
    .navigation li {
      display: block;
      flex: 1 1 auto;
    }
  
    .navigation li:first-child {
      display: none;
    }
  
    .header-banner {
      padding: 200px;
    }
    .back-button{
      color:  rgb(206, 4, 4);
      border-radius: 5px;
      padding: .8rem;
      background-color:#c1bb41;
      font-style:'Playfair Display', sans-serif;
      font-size: 20px;
      text-decoration: none;
    }
    .back-button:hover{
      background-color:#315E50;
      color:#c1bb41;
    }
    
    .drink-div{
      margin: 0% 18% 0% 18%;
      text-align: center;
      background-color:#fb6966;
      font-size: 18px;
      border-radius: 0px 0px 5px 5px;
      border: 1px solid #c1bb41;
      }
     .drink{
      display: flex;
      align-items: flex-start;
      margin-left: 3px;
      margin-bottom: -50px;
      }


  
    .infoImg {
      width: 350px;
    }
  
    .card {
      width: 350px;
    }
    .homeInfoSection img{
      -webkit-transition: all 1s linear;
      transition: all 1s linear;
    }
    .homeInfoSection img:hover {
      -webkit-transform:scale(0.9);
      transform:scale(0.9);
    }
  
    .index-info p{
      margin-top: 5px;
      grid-row: 2;
      padding: 2%;
      background-color:#ffa8a7;
      border-radius: 5px;
      
    }
    .index-info img {
      max-width: 500px;
      margin: auto;
      border-radius: 5px;
    }
    .weatherSummary {
      width: 75%;
    }
  
    form {
      padding: 20px;
      width: 90%;
      margin: auto;
    }
  
  
    .logo{
      display: block;
    }
  
    nav {
      width: unset;
    }
    .thankyou{
      text-align: center;

      
    }

    

    
  
  }