* {
    box-sizing: border-box;
}

body {
    font-family:Helvetica,sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

main {
    background-color: #092c64;
    color: #f9f8be;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #092c64 ;
    color: #f9f8be ;
}

footer {
    background: #ac2176;
}

header{
    padding: .5rem 2%;
    display: grid;
    grid-template-columns: 200px auto; 
       
}
header h1 {
    font-family:Helvetica,sans-serif;
    text-align: center;
    color:  #968150;
    

}

nav {
    background-color:  #3a2a74;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    margin: 0;

}
nav li{ list-style-type: none;}

nav ul li.active a {
    background-color: #ac2176;
    color: #f9f8be;
}
nav ul li a:hover {
    background-color: #ac2176;
    color: #f9f8be;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    color:  #968150;
    text-align: center;

}


a {
    color: #f9f8be;
}

.card {
    text-align: center;
    width: 320px;
    border:#ac2176 dashed 2px;
    margin: 1rem 0 0;
    padding: 1rem;
}

.card ul {
    list-style: none;
    padding: 0;
}

.chamber-logo{
    display: flex;
    justify-content: center;
    
}

table {
    display: table;
    border: 2px dashed #ac2176;
}

td, th{
    border: 2px dashed #ac2176;
}

.container-table {
    margin-top: 1rem;
}

.primary-background {
    background-color: #092c64;
    text-align: center;
}

.secondary-background {
    background-color: #f9f8be;
    text-align: center;
    color:#092c64
}

.accent1-background {
    background-color: #3a2a74;
    text-align: center;
}

.accent2-background {
    background-color: #ac2176;
    text-align: center;
}